// Add your styles here
@import '_flex.scss';

body {
  font-family: brother-1816, sans-serif;
  margin: 0;
  overscroll-behavior-y: none;
  background: #000000;
}

.empty {
  height: 100vh;
}

footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,343245+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #343245 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%,#343245 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%,#343245 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#343245',GradientType=0 ); /* IE6-9 */
  color: white;
  height: 300px;
  font-size: 18px;
  font-weight: 200;
  color: rgba(255,255,255,0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.homepage {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#343245+0,000000+100 */
  background: #343245; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #343245 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #343245 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #343245 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343245', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 300px;
  color: white;
  z-index: 1;
  overflow: hidden;

  header {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 100;
    .header {
      &-brand {
        font-size: 20px;
        font-weight: 700;
        padding-left: 15px;
      }
      &-icon {
        width: 32px;
      }
    }
  }

  &-content {
    text-align: center;
    height: 100%;
    h1 {
      font-weight: 100;
      color: rgba(255, 255, 255, 0.6);
      font-size: 32px;
      letter-spacing: 1.5px;

      animation: main-title-appear cubic-bezier(0, 0, 0.07, 1.43) 1s;
      animation-delay: 1.3s;
      opacity: 0;
      -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
      animation-fill-mode: forwards;
    }
  }

  .show-logo {
    &__opacity-container {
      animation: content-appear ease-out 0.5s;
      animation-delay: 1s;
      opacity: 0;
      -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
      animation-fill-mode: forwards;
      &__image-container {
        -webkit-transition: all 0.1s ease 0s;
                transition: all 0.1s ease 0s;
        width: 400px;
        max-width: 80%;
        animation: logo-appear cubic-bezier(0.15, 0.35, 0, 1) 2s;
        animation-delay: 1s;
      }
    }
  }

  .star {
    &-1 {
      position: absolute;
      //top: 211px;
      //left: 196px;
      //z-index: 1;
      //width: 4000px;
      top: calc(100% - 300px);
      height: 600px;
      transform-origin: 1500px 1600px;
      left: calc(100% - 1300px);
      z-index: 1;
      -webkit-animation: animation-1 40s ease-in-out infinite; /* Safari 4+ */
      -moz-animation:    animation-1 40s ease-in-out infinite; /* Fx 5+ */
      -o-animation:      animation-1 40s ease-in-out infinite; /* Opera 12+ */
      animation:         animation-1 40s ease-in-out infinite; /* IE 10+, Fx 29+ */
    }
    &-2 {
      position: absolute;
      //top: -1201px;
      //left: calc(100% - 330px);
      //z-index: 2;
      //width: 4000px;
      left: calc(100% - 220px);
      top: -500px;
      transform-origin: 1500px 1200px;
      height: 1900px;
      z-index: 2;
      -webkit-animation: animation-2 50s ease-in-out infinite; /* Safari 4+ */
      -moz-animation:    animation-2 50s ease-in-out infinite; /* Fx 5+ */
      -o-animation:      animation-2 50s ease-in-out infinite; /* Opera 12+ */
      animation:         animation-2 50s ease-in-out infinite; /* IE 10+, Fx 29+ */
    }
    &-3 {
      position: absolute;
      //top: -3638px;
      //left: -329px;
      //width: 4000px;
      top: -530px;
      left: calc(100% - 1800px);
      height: 700px;
      transform-origin: 1500px -1200px;
      z-index: 3;
      -webkit-animation: animation-3 30s ease-in-out infinite; /* Safari 4+ */
      -moz-animation:    animation-3 30s ease-in-out infinite; /* Fx 5+ */
      -o-animation:      animation-3 30s ease-in-out infinite; /* Opera 12+ */
      animation:         animation-3 30s ease-in-out infinite; /* IE 10+, Fx 29+ */
    }
    &-4 {
      position: absolute;
      //top: 648px;
      //left: -2205px;
      //z-index: 1;
      //width: 4000px;
      top: calc(100% - 800px);
      left: -900px;
      z-index: 5;
      height: 2000px;
      transform-origin: 0px 2000px;
      //transform: rotateZ(-5deg);
      -webkit-animation: animation-4 30s ease-in-out infinite; /* Safari 4+ */
      -moz-animation:    animation-4 30s ease-in-out infinite; /* Fx 5+ */
      -o-animation:      animation-4 30s ease-in-out infinite; /* Opera 12+ */
      animation:         animation-4 30s ease-in-out infinite; /* IE 10+, Fx 29+ */
    }
    &-5 {
      position: absolute;
      top: calc(100% - 280px);
      left: -1000px;
      z-index: 4;
      height: 900px;
      transform-origin: 1000px 2000px;
      -webkit-animation: animation-5 40s ease-in-out infinite; /* Safari 4+ */
      -moz-animation:    animation-5 40s ease-in-out infinite; /* Fx 5+ */
      -o-animation:      animation-5 40s ease-in-out infinite; /* Opera 12+ */
      animation:         animation-5 40s ease-in-out infinite; /* IE 10+, Fx 29+ */
    }
    &-6 {
      position: absolute;
      top: -1300px;
      left: -350px;
      z-index: 6;
      width: 800px;
      transform-origin: -1000px 1000px;
      //top: -2443px;
      //left: -3601px;
      //z-index: 1;
      //width: 4000px;
      -webkit-animation: animation-6 50s ease-in-out infinite; /* Safari 4+ */
      -moz-animation:    animation-6 50s ease-in-out infinite; /* Fx 5+ */
      -o-animation:      animation-6 50s ease-in-out infinite; /* Opera 12+ */
      animation:         animation-6 50s ease-in-out infinite; /* IE 10+, Fx 29+ */
    }
  }
}


@keyframes main-title-appear {
  0% {
    -webkit-transform: translateY(-50px) scale(0.3);
        -ms-transform: translateY(-50px) scale(0.3);
            transform: translateY(-50px) scale(0.3);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes content-appear {
  0% {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes logo-appear {
  0% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(720deg);
    -ms-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}

@keyframes animation-1 {
  0% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

@keyframes animation-2 {
  0% {
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}

@keyframes animation-3 {
  0% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@keyframes animation-4 {
  0% {
    -webkit-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }
}

@keyframes animation-5 {
  0% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

@keyframes animation-6 {
  0% {
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  50% {
    -webkit-transform: rotate(13deg);
    -ms-transform: rotate(13deg);
    transform: rotate(13deg);
  }
  100% {
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}


.shiny {
  color: white;
  text-shadow: -1px 0px 13px #FA89E6;
}
